body {
    background-color:#000;
    padding: 1em;
    color: #fff;
    font-family: 'Arial';
}
h1 {
  margin-top:0;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: gray;
}
.container {
    width: 90%;
    margin: 0 auto;
}
